<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>vue-projekt</title>
</head>
<body>
<noscript>
    <strong>We're sorry but vue-projekt doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>
<div style="width: 50%">
    <!-- built files will be auto injected -->
    <yawik-job-list
            remote="https://api.yawik.org/api/jobs"
            org=""
            job-on-click="_blank"
            hide-logo="false"
    >
    </yawik-job-list>
    <!-- define custom widget style here -->
    <style>
    </style>
</div>

</body>
</html>
