<template>
    <div id="yawik-job-list">
        <h3>{{ widgetTitle ? widgetTitle : 'YAWIK Jobs List' }}</h3>
        <div v-if="fullTextEnabled">
            <input name="test" type="text" v-model="q"/>
            <button type="button" v-on:click="search">Search</button>
        </div>
        <div v-if="!error && paginator.total > 1">
            <nav class="pagination">
                <paginate
                    v-model="curpage"
                    :page-count="paginator.page"
                    :page-range="paginator.pageSize"
                    :click-handler="load"
                    prev-text="&lt;"
                    next-text="&gt;">
                </paginate>
            </nav>
        </div>
        <div v-if="loading" class="yjl-loading-overlay">
            <div class="yjl-lo-spinner-wrapper">
                <moon-loader color="blue"></moon-loader>
            </div>
        </div>
        <div v-if="error">{{ errmsg }}</div>
        <div v-if="paginator.total > 0 && !error">

            <p>
                {{ ( 1 + (paginator.page - 1) * paginator.pageSize) }} 
                - 
                {{ ((paginator.page - 1) * paginator.pageSize) + paginator.total }}
                / 
                {{ paginator.total }}
            </p>
            <table class="yawik-job-list-items">
                <tbody>
                    <tr v-for="job in result.data" :key="job.id">
                        <td>
                            {{new Date(job.attributes.createdAt).toLocaleString('de')}}
                        </td>
                        <td class="job-title">
                            <a :href="'https://api.yawik.org' + job.attributes.html.url" :target="jobOnClick">{{ job.attributes.jobTitle }}</a>
                        </td>
                        <td v-if="false === hideLogo" class="job-org-logo">
                            <img v-if="job.attributes.logo" :src="'https://api.yawik.org' + job.attributes.logo.url" :alt="job.attributes.organization"/>
                            <span v-else>{{ job.attributes.organization }}</span>
                        </td>
                        <td v-if="job.attributes.formattedAddress" class="job-location">
                            {{job.attributes.formattedAddress}}
                        </td>
                        <td v-else>
                            {{ job.location }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import Paginate from 'vuejs-paginate'
import { MoonLoader } from '@saeris/vue-spinners'

export default {
    name: "YawikJobList",
    components: { Paginate, MoonLoader },
    data: function() {
        return {
            loading: true,
            error: false,
            errmsg: '',
            fullTextEnabled: true,
            q: '',
            result: {},
            paginator: {
                page: 1,
                pageSize: 5, 
                pageCount: 1,
                total: 0
            },
            curpage: 1
        }
    },
    props: {
      remote: String,
      widgetTitle: String,
      count: Number,
      org: String,
      jobOnClick: {
        type: String,
        default: "_blank"
      },
      hideLogo: {
        type: Boolean
      }
    },
    mounted: function() {
        this.load()
    },
    methods: {
        search: function(){
            this.load();
        },
        load: function(pageNum) {
            this.curpage = pageNum;
            this.loading = true;
            this.error = false;

            if (!this.remote) {
                this.error = true;
                this.errmsg = 'No yawik url provided. Please use the attribute "url".';
                this.loading = false;
                return;
            }
            var query = {
                json: '1'
            }
            if (this.count) query.count = this.count
            if (this.curpage) query.page = this.curpage
            if (this.org) query.o = this.org
            if ('' !== this.q) query.q = this.q
            query.populate = 'html,logo';

            /* Found on https://stackoverflow.com/questions/1714786/query-string-encoding-of-a-javascript-object
             * Converts Object to query string
             * e.g. { param: 'value', other: 'test' } => 'param=value&other=test'
             */
            var queryStr = Object.keys(query).map(k => `${k}=${encodeURIComponent(query[k])}`).join('&');

            axios.get(this.remote + '?' + queryStr,
             { 
                 params: {
                   count: this.count,
                   pupulate: 'html'
                 },
            },
            )
            .then((response) => {
                this.result = response.data;
                this.paginator = response.data.meta.pagination;
            })
            .catch((err) => { 
                this.error = true; 
                this.errmsg = err;
            })
            .then(() =>  { 
                this.loading = false 
            });
            return;
        }
    }
}
</script>

<style>
#yawik-job-list {
    text-align: center;
    position: relative;
    min-height: 235px;
}
#yawik-job-list .yjl-loading-overlay {
    background-color: rgba(40,40,40,0);
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
}
#yawik-job-list .yjl-loading-overlay div.yjl-lo-spinner-wrapper {
    margin: 5em auto;
    display: inline-block;
    padding: 5px;
    background-color: rgba(255,255,255,0.7);
    border-radius: 40px;
    box-shadow: 0 0 40px #777777;
}
#yawik-job-list .yawik-job-list-items {
    border-collapse: collapse;
}
#yawik-job-list .yawik-job-list-items tr {
    border-bottom: 1px solid grey;
}
#yawik-job-list .yawik-job-list-items tr:last-child {
    border-bottom: 0px solid grey;
}
#yawik-job-list .yawik-job-list-items td {
    text-align: left;
    vertical-align: middle;
}
#yawik-job-list .yawik-job-list-items td a {
    display: block;
    padding: 1.5em;

}
#yawik-job-list .yawik-job-list-items img {
    max-width: 120px;
    max-height: 60px;
}
#yawik-job-list .pagination ul {
    display: inline-block;
    list-style:none;
    /* center in chrome */
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
}
#yawik-job-list .pagination ul li {
    display: flex;
    margin: 0;
    padding: 0;
    float: left;
}
#yawik-job-list .pagination ul li a {
    position: relative;
    margin: 0px 0px 0px -1px;
    padding: 0.3em 0.7em;
    border: 1px solid grey;
    cursor: pointer;
}
#yawik-job-list .pagination ul li.active a {
    background-color: lightblue;
    color: blue;
}
#yawik-job-list .pagination ul li a:hover {
    background-color: lightgrey;
}
#yawik-job-list .pagination ul li.disabled a {
    cursor: default;
    color: lightgrey;
}
#yawik-job-list .pagination ul li.disabled a:hover {
    background-color: white;
}
#yawik-job-list .pagination ul li:first-child a {
    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
}
#yawik-job-list .pagination ul li:last-child a {
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
}

#yawik-job-list input {
    margin-bottom: 8px;
}

.yawik-job-list-items {
  width: 100%;
}

</style>